<?xml version="1.0"?>
<!-- Author: Ricardo Martins - www.magenteiro.com -->
<config>
    <modules>
        <Magenteiro_PriceDecimals>
            <version>1.0.0</version>
        </Magenteiro_PriceDecimals>
    </modules>
    <global>
        <models>
            <magenteiro_pricedecimals>
                <class>Magenteiro_PriceDecimals_Model</class>
            </magenteiro_pricedecimals>
            <core>
                <rewrite>
                    <store>Magenteiro_PriceDecimals_Model_Core_Store</store>
                </rewrite>
            </core>
            <directory>
                <rewrite>
                    <currency>Magenteiro_PriceDecimals_Model_Directory_Currency</currency>
                </rewrite>
            </directory>
            <sales>
                <rewrite>
                    <order>Magenteiro_PriceDecimals_Model_Sales_Order</order>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <magenteiro_pricedecimals>
                <class>Magenteiro_PriceDecimals_Block</class>
            </magenteiro_pricedecimals>
            <adminhtml>
                <rewrite>
                    <catalog_product_helper_form_price>Magenteiro_PriceDecimals_Block_Adminhtml_Catalog_Product_Helper_Form_Price</catalog_product_helper_form_price>
                    <sales_order_view_items_renderer_default>Magenteiro_PriceDecimals_Block_Adminhtml_Sales_Order_View_Items_Renderer_Default</sales_order_view_items_renderer_default>
                    <sales_items_renderer_default>Magenteiro_PriceDecimals_Block_Adminhtml_Sales_Items_Renderer_Default</sales_items_renderer_default>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <default>
        <catalog>
            <price>
                <decimals>2</decimals>
            </price>
        </catalog>
    </default>
</config>